* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #323437;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#323437;
  height: 70px;
  position:fixed;
}

.logo {
  font-size: 1.5em;
  color: crimson;
}


.contenedorPrincipal {
  width: 100%;
  height: 800px;
  background-color: #323437;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorCubos{
  width: auto;
  height: 100px;
  display:flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #323437;
  margin-bottom: 50px;
}


.cubo {
  width: 50px;
  height: 50px;
  border: solid 1px #000;
  border-radius: 5px;
  margin: 3px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  

}

.botonOrdenar {
    text-decoration: none;
    padding: 0.5em 6em;
    background-color:darkorange;
    font-size: 18px;
    border-radius: 10px;
    color: #000; 
    margin: 0 2em;
}

.botonDesordenar {
    text-decoration: none;
    padding: 0.5em 5em;
    background-color:darkorange;
    font-size: 18px;
    border-radius: 10px;
    color: #000; 
    margin: 0 2em;
}

.botonOrdenar:hover {
  background-color: #000;
  color: darkorange;
}

.botonDesordenar:hover {
  background-color: #000;
  color: darkorange;
}

.ordenado {
  background-color: lawngreen;
  width: 50px;
  height: 50px;
  border: solid 1px #000;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}


.contenedorTexto {
  margin-top: 150px;
}

h2 {
  margin-bottom: 30px;
  color: lightgray;
}

.texto {
  color:lightgray;
  font-weight:800;
}